* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
    outline: none;
    font-family: "Barlow", sans-serif;
}

body{
    height: 100svh;
    background-color: #F6F3EF ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFC;
    max-width: 461px;
    min-height:514px;
    padding: 50px;
    border: solid 1px #BBD0FF;
    border-radius: 8px;
    
}
h1{
    font-weight: 600;
    line-height: 38.4px;
    margin-bottom: 35px;
    color:#1576D6;
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    margin-bottom: 12px;
    font-weight: 500;
    size: 16px;
    
}

input{
    width: 100%;
    height:36px;
    border-radius: 8px; 
    padding: 10px 12px;
    margin-bottom:16px ;
    border: solid 1px  #6C757D80;
}

button{
    background-color: #25292C;
    color:#FFFFFC;
    height:36px;
    border-radius: 8px;
    
}
